#question-show .container .qs-internal .thread-article .thread-answers .thread-answer .answer-card-content .answer-card-body p * {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

#question-show .container .qs-internal .thread-article .thread-answers .thread-answer .answer-card-content .answer-card-body * {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.note-video-clip {
  height: 100vh !important;
  width: 100vw !important;
  z-index: 1031 !important;
}