#question-show .container .qs-internal .thread-article .thread-answers .thread-answer .answer-card-content .answer-card-body p * {
    position: fixed !important;
    right: auto !important;
    top: auto !important;
}
#question-show .container .qs-internal .thread-article .thread-answers .thread-answer .answer-card-content .answer-card-body * {
    position: fixed !important;
    right: auto !important;
    top: auto !important;
}